*{
    padding: 0;
    margin: 0;
}
.blue{
    text-align: center;
    background-color: dodgerblue;
    color: white;
    padding: 15px;
}
.white{
    padding-left: 400px;
}
.grey{
    background-color: rgb(218, 218, 218);
    text-align: center;
    padding: 20px;
}
a{
    color: dodgerblue;
}
.noUnderline{
    color: white;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
span{
    padding-left: 15px;
}