body{
    background-color: rgb(56, 56, 56);
}
div{
    background-color: white;
    border-radius: 30px;
    width: 500px;
    height: 30px;
    font-size: 25px;
    position: relative;
}
i{
    margin-left: 15px;
    margin-right: 25px;
}
.icon{
    position: absolute;
    right: 20px;
    transform: translate(0,-6px);
}
.opacity{
    opacity: 0.5;
}