*{
    margin: 0;
    padding: 0;
}
div{
    width: 650px;
    margin-left: 15px;
}
img{
    display: inline-block;
    vertical-align: middle;
}
span{
    font-weight: 900;
    font-size: 30px;
}
p{
    font-size: 20px;
    opacity: 0.5;
}
